label{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Zen Kurenaido', sans-serif;
}

body{
    background: radial-gradient(1.5em 6.285em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#2ecfef, #1aa7c3);
    background-color: #26c4e4;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
  }

.main{
    display: flex;  
    justify-content: center;
    align-content: center;
}

.main > div{
    background-color: black;
    margin: 20px;
    background-color:rgba(0, 0, 0, 0);
}

input[type=text],input[type=email],input[type=date],select{
   width: 100%;
   padding: 10px 12px;
   border-radius: 4px;
   display: inline-block;
   border: 1px solid lightgray;
   box-sizing: border-box;
   transition: all .2s ease-in-out;
   }

input:hover,select{
    background-color: lightgrey;
}


form{
    background-color: white;
    margin: 2px;
    padding: 40px;
    border-radius: 10px;
    padding: 50px;
    border: 4px;
    border-style: solid;
    border-color:#FFFFFF;
    box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.25);

}

button{
    background-color: #23BAD8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 100%;
}

button:disabled{
    background-color: lightgrey;
}
button:hover{
    box-shadow: 1px 1px 1px 1px;
    opacity: .6;
}

.modalBg{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5) ;
    display: flex;  
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.activateModal{
    visibility: visible;
    opacity: 1;  
}
.modal{
    position: relative;
    height: 30%;
    width: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: row;
   transition: all .2s ease-in-out;
}

.closeModal{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bolder;
    cursor: pointer;
    transition: visibility 0s, .9s;

}


.question,#usrAns{
    justify-content: center;
    text-align: center;
    height: 20% !important;
    width: 44.7% !important;
    background-color: white;
    color:black ;
    font-size: 50px;
    display: inline-block;
    border: 1px solid lightgray;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

#usrAns{
    height: 80px;
    width: 100% !important;
    font-size: 50px;
}

.multiplySign{
    font-weight: bolder;
    font-size: 350%;

}
