label,legend{
    font-family: 'Mukta', sans-serif;
}

.main{
    display: flex;  
    justify-content: center;
    background-color:white;
}

.main > div{
    background-color: black;
    margin: 10px;
    padding: 15px;
    background-color:white;
}

input[type=text],input[type=email]{
    width: 313px;
    color: black;
    background-color: whitesmoke;
}

input:active{
    background-color: lightgrey;
}

fieldset{
    background-color: lightblue;
}

form{
    background-image:  linear-gradient(to bottom right, lightblue, blue);
    box-shadow: 1px 3px 6px;
    margin: 20px;
    padding: 30px;
}

.button{
    display: inline-block;
    border-radius: 15px;
    margin: 4px 2px;
    text-align: center;
}
.button:hover{
    box-shadow: 1px 1px 1px 1px;
    opacity: .6;
}



.modalBg{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5) ;
    display: flex;  
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 0s, .5s;
}

.activateModal{
    visibility: visible;
    opacity: 1;  
}
.modal{
    position: relative;
    height: 30%;
    width:25%;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.closeModal{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bolder;
    cursor: pointer;
}

